
@{
    ViewBag.Title = "get";
}

<h2>get</h2>

<div>
    @Html.Action("ReqtoAddGroup", "Home")
    <label>
        {{msg}}
    </label>

</div>
<div>
    <ul>
        <li ng-repeat="m in chatMessage">
            
            <div ng-show="{{m.str}}">
                {{m.Name}}:{{m.Msg}}
            </div>
            <div ng-show="{{m.img}}">
                {{m.Name}}:<img src="http://localhost:60112{{m.Msg}}" alt="Image" />
            </div>
            <div ng-show="{{m.others}}">
                {{m.Name}}: <a href="http://localhost:60112{{m.Msg}}" target="_blank">View</a>
            </div>
        </li>
    </ul>
   
</div>

@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="/signalr/hubs"></script>

<script src="~/Scripts/angular.min.js"></script>
    <script>
        var app = angular.module("Myapp", [])
                            .controller("myctrl", function ($scope, $http) {
                                $scope.chatMessage = [];

                                $scope.fileList = [];
                                $scope.curFile;
                                $scope.ImageProperty = {
                                    file: ''
                                }
                                $scope.setFile = function (element) {
                                    $scope.fileList = [];

                                    var files = element.files;
                                    for (var i = 0; i < files.length; i++) {
                                        $scope.ImageProperty.file = files[i];

                                        $scope.fileList.push($scope.ImageProperty);
                                        $scope.ImageProperty = {};
                                        $scope.$apply();
                                    }
                                    UploadFile();
                                }
                                UploadFile = function () {
                                    for (var i = 0; i < $scope.fileList.length; i++) {
                                        $scope.UploadFileIndividual($scope.fileList[i].file,
                                                                    $scope.fileList[i].file.name,
                                                                    $scope.fileList[i].file.type,
                                                                    $scope.fileList[i].file.size,
                                                                    i);
                                    }
                                }
                                $scope.UploadFileIndividual = function (fileToUpload, name, type, size, index) {
                                    var reqObj = new XMLHttpRequest();

                                    reqObj.open("POST", "/RequestInfoes/UploadFiles", true);
                                    reqObj.setRequestHeader("Content-Type", "multipart/form-data");
                                    reqObj.setRequestHeader('X-File-Name', name);
                                    reqObj.setRequestHeader('X-File-Type', type);
                                    reqObj.setRequestHeader('X-File-Size', size);
                                    reqObj.send(fileToUpload);
                                }
                                    function uploadProgress(evt) {
                                        //debugger;
                                        if (evt.lengthComputable) {
                                            var uploadProgressCount = Math.round(evt.loaded * 100 / evt.total);
                                            document.getElementById('P' + index).innerHTML = uploadProgressCount;
                                            if (uploadProgressCount == 100) {
                                                document.getElementById('P' + index).innerHTML =
                                               '<i class="fa fa-refresh fa-spin" style="color:green;"></i>';
                                            }
                                        }
                                    }

                                    $scope.addtoGroup=function()
                                    {
                                        var req = {
                                            GroupName:$scope.GroupName,
                                        }
                                        console.log($scope.GroupName);
                                        $http.post("/RequestInfoes/Create",req)
                                                .then(function (result) {
                                                    $scope.msg = "Wait for approval";
                                                    console.log(result)
                                                }, function (err) { console.log(err) })

                                    }

                                    function IsImageFile(fileF) {
                                        var ImageFiles = [".png", ".jpg", ".gif"];
                                        var regex = new RegExp("(" + ImageFiles.join('|') + ")$");
                                        if (!regex.test(fileF.toLowerCase())) {
                                            return false;
                                        }
                                        return true;
                                    }

                                    var chat = $.connection.myHub;
                                    chat.client.received = function (name, msg) {
                                     
                                        if (msg.indexOf(".") > 0) {
                                            if (IsImageFile(msg)) {
                                                
                                                $scope.chatMessage.push({ Name: name, Msg: msg, others: false, img: true, str: false });
                                            }
                                            else {
                                                
                                                $scope.chatMessage.push({ Name: name, Msg: msg, others: true, img: false, str: false });
                                            }


                                        }
                                        else {
                                         
                                            $scope.chatMessage.push({ Name: name, Msg: msg, othesr: false, img: false, str: true });
                                        }

                                        //debugger;
                                        console.log(msg);


                                       
                                        $scope.$apply();
                                    }

                                    $.connection.hub.start().done(function () {
                                        console.log("connected");
                                    }).fail(function (err) {
                                        console.log(err);
                                    })
                                    $scope.sendchat = function () {
                                        chat.server.send($scope.messag);
                                        $scope.messag = "";
                                    }
                                });

    </script>
}

